// colors
$red-color: #E31F24;
$grey-color-200: #E9ECEF;
$grey-color: #FDFDFD; // :/ so many same colors
$dark-grey-color: #E0E0E0;
$very-dark-grey-color: #76787D;
$white: #FFF;

// line-height

$h1-line-height: 39px;
$h4-line-height: 20px;

